html {
  font-family: "Ubuntu Condensed", sans-serif;
}

.banner {
  background: url("../images/starfield.png") repeat;
}

.banner-content {
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 255, 255, .7);
}

.btn {
  padding: .25em 3em 3em .75em;
}

.btn:hover {
  padding: 2em 3em .25em .75em;
  transition: all 250ms ease;
}

.btn-wrapper a {
  color: #b4fff4;
  border-color: #90ccc3;
  border-radius: 8px;
}

.btn-wrapper a:hover {
  border-color: #90ccc3;
  background-color: rgba(180, 255, 244, .2);
  color: #b4fff4;
  transition: all 250ms ease;
}

.btn-wrapper a:active,
.btn-wrapper a:focus {
  background-color: rgba(180, 255, 244, .2);
  border-color: #90ccc3;
  color: #b4fff4;
  transform: translate(0, .25em);
}

.icon,
.btn {
  transition: all 250ms ease;
}

.icon {
  left: 45px;
  top: -25px;
}

.icon:hover {
  transition: all 250ms ease;
  transform: translate(.5em);
}

.btn-wrapper:hover .icon,
.btn-wrapper:active .icon,
.btn-wrapper:focus .icon {
  transform: translate(0, -.75em);
  transition: all 250ms ease;
}
